In [1]:
tp = ("hanumantha reddy", 25, 25.0)

In [2]:
print(tp)

('hanumantha reddy', 25, 25.0)

In [3]:
print(tp[0])

hanumantha reddy

In [4]:
tp_test = ('reddy', 22, 06, 1992)

SyntaxError: invalid token (<ipython-input-4-453da0431753>, line 1)

In [5]:
tp_test = ('reddy', 22, 6, 1992)

In [6]:
tp = tp_test + tp

In [7]:
tp

('reddy', 22, 6, 1992, 'hanumantha reddy', 25, 25.0)

In [8]:
len(tp)

7

In [9]:
tp = tp_one

NameError: name 'tp_one' is not defined

In [10]:
tp_one = tp

In [11]:
print(tp_one)

('reddy', 22, 6, 1992, 'hanumantha reddy', 25, 25.0)

In [12]:
print(tp)

('reddy', 22, 6, 1992, 'hanumantha reddy', 25, 25.0)

In [13]:
tp[0] = 'red'

TypeError: 'tuple' object does not support item assignment

In [14]:
new_tp = ('reddy',("red",25,30),1992)

In [15]:
print(new_tp)

('reddy', ('red', 25, 30), 1992)

In [16]:
new_tp[0]

'reddy'

In [17]:
new_tp[1]

('red', 25, 30)

In [18]:
new_tp[0]:[1]

In [20]:
print(new_tp[0]:[2])

SyntaxError: invalid syntax (<ipython-input-20-1ac1ec5a631a>, line 1)

In [22]:
print(new_tp[0]:('red', 25, 30)[1])

SyntaxError: invalid syntax (<ipython-input-22-58cc87c46e58>, line 1)

In [23]:
print(new_tp[1]:('red', 25, 30)[1])

SyntaxError: invalid syntax (<ipython-input-23-228bc937df93>, line 1)

In [24]:
print("new_tp[0]:('red', 25, 30)[1]")

new_tp[0]:('red', 25, 30)[1]

In [25]:
print(new_tp[0][1])

e

In [26]:
new_tp

('reddy', ('red', 25, 30), 1992)

In [27]:
new_tp = (a,(b,c,d),e,f)

NameError: name 'a' is not defined

In [28]:
new_tp = ("a",("b","c","d"),"e","f")

In [29]:
print(new_tp)

('a', ('b', 'c', 'd'), 'e', 'f')

In [30]:
new_tp[0]

'a'

In [31]:
new_tp[1]

('b', 'c', 'd')

In [32]:
new_tp[1][0]

'b'